* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fbfeda;
}

#name {
  height: 50px;
  width: 300px;
  border-radius: 10px;
  font-size: 24px;
  padding: 5px;
  background-color: #fbfeda;
  border: 2px solid #FF9EAA;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

#name:focus {
  outline: none;
}

.win {
  border-color: #0680FF !important;
  background-color: #0680FF !important;
  color: #fbfeda !important;
  border-radius: 2.5px !important;
  border-width: 2.2px !important;
  opacity: 0.7 !important;
}

.lose {
  border-color: #ff3333 !important;
  background-color: #ff3333 !important;
  color: #fbfeda !important;
  border-radius: 5px !important;
  border-width: 2.2px !important;
  opacity: 0.8 !important;
}

#modal {
  background-color: #fbfeda;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 210px;
}

.win-message {
  width: 600px;
  height: 100px;
  font-size: 42px;
  margin-bottom: 600px;
  position: absolute;
}

.lose-color {
  color: #C73E1D;
}

.win-color {
  color: #0680FF;
}

.modal-buttons {
  display: flex;
  gap: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  gap: 20px;
  position: relative;
}

.heading {
  color: #a31c5d;
  font-size: 48px;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-heading {
  color: #a31c5d;
  font-size: 48px;
}

#name-warning {
  visibility: hidden;
  max-width: 65%;
  text-align: center;
}
#button-container {
  display: flex;
  gap: 20px;
}

.button {
  color: #a31c5d;
  background-color: #fbfeda;
  height: 80px;
  width: 100px;
  font-size: 40px;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border-color: #ff6e96;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-btn {
  color: #a31c5d;
  background-color: #fbfeda;
  height: 80px;
  width: 100px;
  font-size: 40px;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border-color: #ff6e96;
}

.button:hover, .modal-btn:hover {
  background-color: #a31c5d;
  color: #fbfeda;
  border: 2px;
}

#game-board {
  max-width: 450px;
  display: flex;
  flex-wrap: wrap;
  visibility: hidden;
}

/* Classe que deixa visivel o board */
.show {
  visibility: visible !important;
  pointer-events: auto !important;
  opacity: 1 !important;
}

.board-square {
  border: 2px solid #a31c5d;
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 64px;
  flex-shrink: 0;
  background-color: #fbfeda;
  border-radius: 2px;
}

.board-square.left {
  border-left: none;
}
.board-square.right {
  border-right: none;
}

.board-square.top {
  border-top: none;
}

.board-square.bottom {
  border-bottom: none;
}

/* Mobile */
/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  #game-board {
    max-width: 150px;
  }

  .board-square {
    width: 50px;
    height: 50px;
    font-size: 32px;
  }
}
