* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
}
.button {
    color: #fff;
    background-color: #000;
    height: 60px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#game-board {
    max-width: 150px;
    display: flex;
    flex-wrap: wrap;
    visibility: hidden;
}

.show {
    visibility: visible !important;
}

.board-square {
    border: 1px solid #000;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    flex-shrink: 0;
}